[include mainsail.cfg]

[stepper_x]
step_pin: PB9
dir_pin: PC2
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 5
position_max: 245
position_min:5
homing_speed: 50

[stepper_y]
step_pin: PB7
dir_pin: PB8
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: -5
position_max: 235
position_min: -5
homing_speed: 50

[stepper_z]
step_pin: PB5
dir_pin: !PB6
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.0
position_min: -10
position_max: 250

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB3
dir_pin: PB4
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.67
#rotation_distance: 7.73
full_steps_per_rotation: 200
max_extrude_cross_section: 1.5
#gear ratio: 3:1 
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[firmware_retraction]
#retract_length: 2
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
#retract_speed: 40
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_speed: 30
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[fan]
pin: PA0

[mcu]
serial:  /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
#max_accel: 2500
max_accel: 3000
max_z_velocity: 10 #default 5
max_z_accel: 100

##################################################################################
###       PROBE
##################################################################################

# Pin mappings for BL_T port
[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -44
y_offset: -9
samples: 2
speed: 2
#z_offset: 6.060

[safe_z_home]
home_xy_position: 117.5,117.5
speed: 50
z_hop: 10
#z_hop_speed: 5
z_hop_speed: 20.0
#move_to_previous: TRUE

#[idle_timeout]
#gcode: TURN_OFF_HEATERS" and "M84"

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 10,10
mesh_max: 200,220
#mesh_max: 188,191
probe_count: 5,5
mesh_pps: 2,2
algorithm: bicubic
fade_start: 1
fade_end: 10
#fade_in: 10
fade_target: 0

################################################################################
### START PRINT
################################################################################

#[gcode_macro START_PRINT]
#gcode:
#  G28 #home all axes
#  BED_MESH_PROFILE LOAD=default

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.492
#*# pid_ki = 1.143
#*# pid_kd = 120.690
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.757
#*# pid_ki = 1.415
#*# pid_kd = 909.518
#*#
#*# [bltouch]
#*# z_offset = 2.760
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.067500, -0.093750, -0.163750, -0.223750, -0.236250
#*# 	-0.198750, -0.220000, -0.258750, -0.326250, -0.365000
#*# 	-0.222500, -0.236250, -0.298750, -0.352500, -0.418750
#*# 	-0.160000, -0.212500, -0.285000, -0.355000, -0.435000
#*# 	-0.101250, -0.192500, -0.286250, -0.355000, -0.443750
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 200.0
#*# min_y = 10.0
#*# max_y = 220.0
